In [26]:
import cleanData
import numpy as np
import pandas as pd
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [27]:
data = pd.read_csv('train.csv')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6460\2815211952.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('train.csv')

In [32]:
clean_df = cleanData.clean(data)
clean_df = cleanData.to_numerical_var(clean_df)
clean_df

,Age,Monthly_Inhand_Salary,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Monthly_Balance,Credit_Score
0,23.0,1824.843333,4,4,3,7.0,4.0,809.98,26.822620,22.0,312.494089,3
1,23.0,1824.843333,4,4,-1,0.0,4.0,809.98,31.944960,22.0,284.629162,3
2,23.0,1824.843333,4,4,3,7.0,4.0,809.98,28.609352,22.0,331.209863,3
3,23.0,1824.843333,4,4,5,4.0,4.0,809.98,31.377862,22.0,223.451310,3
4,23.0,1824.843333,4,4,6,0.0,4.0,809.98,24.797347,22.0,341.489231,3
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,25.0,3359.415833,6,2,23,7.0,3.0,502.38,34.663572,31.0,479.866228,1
99996,25.0,3359.415833,6,2,18,7.0,3.0,502.38,40.565631,31.0,496.651610,1
99997,25.0,3359.415833,6,2,27,6.0,3.0,502.38,41.255522,31.0,516.809083,1
99998,25.0,3359.415833,6,2,20,0.0,3.0,502.38,33.638208,31.0,319.164979,2
99999,25.0,3359.415833,6,2,18,6.0,3.0,502.38,34.192463,31.0,393.673696,1

Normalizar

In [33]:
clean_df = clean_df[['Num_Credit_Card','Delay_from_due_date','Outstanding_Debt','Credit_History_Age','Credit_Score','Credit_Utilization_Ratio']]

In [34]:
X = clean_df[clean_df.columns[:-1]]
transformer = Normalizer().fit(X)
X_norm = transformer.transform(X)
y = clean_df['Credit_Score'].values

X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size = 0.15)

In [35]:
regr = LinearRegression(positive = False)
print(regr.fit(X_train, y_train).coef_)
verify = pd.DataFrame(regr.fit(X_train,y_train).predict(X_test),columns = ['Pred_Raw'])
verify['Prediction'] = verify['Pred_Raw'].apply(cleanData.round_rules)
verify['Real'] = y_test
cleanData.test(verify)

[-2.38805281 -0.66725173  2.60202319  3.50833472]
Accuracy: 52.8%

In [20]:
a = data['Payment_Behaviour'].iloc[1]
a

'Low_spent_Large_value_payments'

In [39]:
data['Payment_Behaviour'].apply(lambda x: x.split("_")[2] if x != "!@9#%8" else np.nan)

0         Small
1         Large
2        Medium
3         Small
4        Medium
          ...
99995     Large
99996    Medium
99997     Large
99998     Large
99999       NaN
Name: Payment_Behaviour, Length: 100000, dtype: object

In [23]:
data['Payment_Behaviour'].apply(lambda x: x.split("_")[0] if x != "!@9#%8" else np.nan).apply(lambda x: 1 if "High" else -1)

array([1], dtype=int64)