In [1]:
import pandas as pd
import cleanData

In [2]:
data = pd.read_csv('train.csv')
data.head()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_5848\2616829868.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('train.csv')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [4]:
cleanData.cleanAge(data.set_index('ID'))

KeyError: 'Customer_ID'

In [ ]:
import pandas as pd
import numpy as np

def cleanMIS(df: pd.DataFrame):
    df['Monthly_Inhand_Salary']= df.groupby('Customer_ID')['Monthly_Inhand_Salary'].ffill()
    return df

def cleanAI(df: pd.DataFrame):
    df['Annual_Income'] = df['Annual_Income'].apply(lambda x: float(x.split('_')[0]))
    return df

def dropUselessInfo(df: pd.DataFrame):
    df.drop(['Name', 'SSN', 'Num_Bank_Accounts', 'Month'], axis = 1)
    return df

def cleanAge(df:pd.DataFrame):
    df['Age'] = df['Age'].apply(lambda x: int(x.split('_')[0])).apply(lambda x: np.nan if x < 18 else x)
    df['Age'] = df['Age'].reset_index().groupby('Customer_ID')[['ID', 'Age']].ffill().set_index('ID')
    return df

def cleanNCC(df: pd.DataFrame):
    df['Num_Credit_Card'] = df['Num_Credit_Card'].apply(lambda x: 11 if x >= 11 else x)
    return df

def cleanNOF(df: pd.DataFrame):
    df['Num_of_Loan'] = df['Num_of_Loan'].apply(lambda x: int(x.split('_')[0])).apply(lambda x: 0 if x < 0 else x)
    return df

def cleanCHA(df: pd.DataFrame):
    df['Credit_History_Age'] = df['Credit_History_Age'].apply(lambda x: int(x.split(' ')[0]) if x != 'NA' else x)
    df['Credit_History_Age'] = df['Credit_History_Age'].reset_index().groupby(['Customer_ID'])[['ID', 'Credit_History_Age']].ffill().set_index('ID')
    return df

def clean(df: pd.DataFrame):
    df = df.set_index('ID')
    dropUselessInfo(df)
    cleanMIS(df)
    cleanAI(df)
    cleanAge(df)
    cleanNCC(df)
    cleanNOF(df)
    cleanCHA(df)